# PHASE 4 PROJECT

In [1]:
import pandas as pd

In [2]:
ratings_df = pd.read_csv('Data/ratings.csv')
movies_df = pd.read_csv('Data/movies.csv')
tags_df = pd.read_csv('Data/tags.csv')

In [3]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
ratings_df.shape

(100836, 4)

In [5]:
ratings_df.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [6]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
ratings_df.value_counts()

userId  movieId  rating  timestamp
1       1        4.0     964982703     1
434     4993     5.0     1270604133    1
        4963     4.0     1270604560    1
        4896     2.5     1270604915    1
        4886     4.5     1270604658    1
                                      ..
227     58303    4.0     1447210409    1
        56782    4.5     1447210013    1
        56367    4.5     1447210824    1
        55820    4.0     1447209881    1
610     170875   3.0     1493846415    1
Name: count, Length: 100836, dtype: int64

In [8]:
# Using Pandas pivot table to create the user-item interaction matrix
user_item_matrix = ratings_df.pivot_table(index='userId', columns='movieId', values='rating')
user_item_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Fill missing values with zeros
user_item_matrix = user_item_matrix.fillna(0)

In [10]:
user_item_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
import numpy as np
from scipy.sparse import coo_matrix
from surprise import SVD, Dataset, Reader
from surprise.model_selection import train_test_split

In [12]:
# Convert user-item matrix to COO format for Surprise
coo_user_item_matrix = coo_matrix(user_item_matrix)

In [13]:
#Define a reader and create a Surprise dataset from the COO user-item matrix.
reader = Reader(line_format='user item rating', sep='\t', rating_scale=(0, 5))
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)

In [14]:
#Split the data into training and testing sets for model evaluation.
trainset, testset = train_test_split(data, test_size=0.2)

In [15]:
#Create an SVD model and train it using the training set.
model = SVD()
model.fit(trainset)

accuracy:

In [16]:
from surprise import accuracy

predictions = model.test(testset)
rmse = accuracy.rmse(predictions)
mae = accuracy.mae(predictions)
print(f"RMSE: {rmse:.2f}")
print(f"MAE: {mae:.2f}")

RMSE: 0.8633
MAE:  0.6658
RMSE: 0.86
MAE: 0.67

In [17]:
def get_top_n_recommendations(user_id, n=5):
    user_items = user_item_matrix.loc[user_id]
    unrated_items = user_items[user_items == 0].index
    recommendations = []

    for item_id in unrated_items:
        predicted_rating = model.predict(user_id, item_id).est
        recommendations.append((item_id, predicted_rating))

    recommendations.sort(key=lambda x: x[1], reverse=True)
    return recommendations[:n]

testing on a user:

In [19]:
user_id = 1  # Replace with the user's ID you want to test
recommendations = get_top_n_recommendations(user_id, n=5)

for rank, (item_id, predicted_rating) in enumerate(recommendations, start=1):
    print(f"Rank {rank}: Movie ID {item_id} (Predicted Rating: {predicted_rating:.2f})")

Rank 1: Movie ID 318 (Predicted Rating: 5.00)
Rank 2: Movie ID 750 (Predicted Rating: 5.00)
Rank 3: Movie ID 904 (Predicted Rating: 5.00)
Rank 4: Movie ID 1148 (Predicted Rating: 5.00)
Rank 5: Movie ID 1193 (Predicted Rating: 5.00)

It appears that all the recommendations have a predicted rating of 5.00. While it's great that your model is confident in these recommendations, this result seems unusual and may indicate an issue with your recommendation system.

Here are some steps to consider in diagnosing and addressing this issue:

Data Inspection:

Check the data in your user-item interaction matrix to ensure that it reflects the actual user ratings correctly. It's possible that the matrix has some missing values or issues with data preprocessing.
Evaluation Metrics:

Reevaluate your model's performance metrics. High RMSE or MAE values could indicate issues with model training, and you may need to tune the hyperparameters.
Test with Different Users:

Test the get_top_n_recommendations function with different user IDs to see if this issue persists across multiple users. If it's consistent, there may be an issue with your model.
Model Parameters:

Review the parameters used in your SVD model training. Make sure that you are using reasonable values for parameters like the number of factors, learning rate, and regularization terms. Adjust these parameters as needed to improve the model's accuracy.
Data Preprocessing:

Double-check your data preprocessing steps, such as filling missing values in the user-item matrix. Ensure that you are correctly handling the data.
Dataset Size:

Consider the size of your dataset. If your dataset is very small, it may lead to overfitting, which could explain why the model is predicting high ratings for all items.
Baseline Model:

You might consider implementing a simple baseline model, such as average user ratings, to see how it performs. This can help you understand whether the issue is with the SVD model or data.
Cross-Validation:

Implement cross-validation to evaluate your model's performance more rigorously. This can help identify issues with generalization.
By investigating these aspects and potentially making adjustments, you can work toward resolving the issue and improving the quality of your movie recommendations. It's not uncommon to encounter such issues during the development of recommendation systems, and careful debugging and tuning are often necessary.